.conteudo span:nth-of-type(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, transparent, rgb(255, 183, 0));
    animation: animar1 2s linear infinite;
}
@keyframes animar1{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}

.conteudo span:nth-of-type(2) {
    position: absolute;
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to bottom, transparent, rgb(81, 255, 0));
    animation: animar2 2s linear infinite;
    animation-delay: 1s;
}
@keyframes animar2{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(100%);
    }
}

.conteudo span:nth-of-type(3) {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to left, transparent, rgb(0, 255, 208));
    animation: animar3 2s linear infinite;
}
@keyframes animar3{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}

.conteudo span:nth-of-type(4) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to top, transparent, rgb(255, 0, 119));
    animation: animar4 2s linear infinite;
    animation-delay: 1s;
}
@keyframes animar4{
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(-100%);
    }
}